 * {
    margin: 0;
    padding: 0;
 }

 
.center {
    width: 1600px;
    margin: 0 auto;
}
 

 .header {
    height: 75px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .logo__and__search {
    height: 38px;
    width: 111px;
    margin-left: 231px;
    display: flex;
    justify-content: space-between;
    align-items: end;
 }

 .logo {
    height: 38px;
    width: 44px;
 }

 .search {
    height: 26px;
    width: 27px;
    margin-bottom: 2px;
 }

 .menu__and__links {
    width: 159px;
    height: 29px;
    margin-right: 240px;
    display: flex;
    justify-content: space-between;
    align-items: end;
 }

 .hamburger {
    height: 23px;
    width: 32px;
 }

 .user {
    height: 29px;
    width: 29px;
 }

 .basket {
   height: 37px;
   width: 41px;
   position: relative;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   }

 .basket__img {
   height: 29px;
   width: 32px;
   position: absolute;   
 }

 .counter {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 19px;
   height: 19px;
   margin-left: 22px;
   margin-bottom: 18px;
   border-radius: 9px;
   background-color: #F16D7F;
 }

 .counter__text {
   width: 7px;
   height: 14px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   color: #FFFFFF;
 }

 .title__block {
    background-color: #F1E4E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .title__block__img {
   width: 801px;
   height: 764px;
 }

.title__block__title {
   width: 405px;
   height: 93px;
   margin-top: 290px;
   margin-right: 331px;
   margin-bottom: 381px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 16px;
} 

.tb__rectangle {
   width: 12px;
   height: 92px;
}

.tb_title {
   width: 377px;
   height: 93px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.tb__up__text {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 900;
   font-size: 48px;
   line-height: 58px;
   color: #222222;
}

.tb__down__text {
   display: flex;
   justify-content: space-between;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
}

.tb__left__down__text {
   color: #222222;
}

.tb__right__down__text {
   color: #F16D7F;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #FFFFFF;
}

.up__grid__block {
   width: 1140px;
   height: 470px;
   margin-top: 65px;
   margin-bottom: 96px;
   display: grid;
   grid-template-columns: 390px 390px 390px;
   grid-template-rows: 290px 276px;
   justify-content: space-between;
}

.up__img__block {
   width: 360px;
   height: 260px;
   position: relative;
}

.up__img {
   position: absolute;
}

.first__img__block__text {
   position: absolute;
   width: 154px;
   height: 50px;
   margin: 105px 103px;
}

.second__img__block__text {
   position: absolute;
   width: 110px;
   height: 50px;
   margin: 105px 125px;
}

.third__img__block__text {
   position: absolute;
   width: 115px;
   height: 50px;
   margin: 105px 123px;
}

.down__img__block {
   height: 180px;
   width: 1140px;
   position: relative;
}

.down__img {
   position: absolute;
}

.fourth__img__block__text {
   position: absolute;
   width: 160px;
   height: 50px;
   margin: 65px 490px;
}

.up__img__block__text {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   color: #FFFFFF;
}

.down__img__block__text {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   text-align:center;
   color: #F16D7F;
}

.img__txt {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.down__grid__block {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.subtitle__and__text {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.db__subtitle {
   width: 184px;
   height: 36px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   color: #222222;
}

.db__text {
   width: 336px;
   height: 17px;
   margin-top: 6px;
   margin-bottom: 48px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #9F9F9F;
}

.content__block__grid {
   display: grid;
   grid-template-columns: 360px 360px 360px;
   grid-template-rows: 581px 581px;
   gap: 30px;
   justify-content: center;
}

.content__block {
   width: 360px;
   height: 587px;
   background-color: #F8F8F8;
}

.cb__image {
   width: 360px;
   height: 420px;
}

.title__and__price {
   margin: 16px 24px;
}

.tp__subtitle {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
   color: #000000;
}

.tp__text {
   margin-top: 16px;
   margin-bottom: 16px;
   width: 314px;
   height: 51px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: #5D5D5D;
}

.tp__price {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #F16D7F;
}

.db__button {
   width: 212px;
   height: 48px;
   margin-top: 48px;
   margin-bottom: 60px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #F26376;
   border-color: #FF6A6A;
   border-width: 1px;
   background-color: #FFFFFF;
}

@media (max-width: 1024px) and (min-width: 768px) {
   .center {
      width: 768px;
      margin: 0 auto;
  }

  .header {
   height: 74px;
  }

  .logo__and__search {
   margin-left: 32px;
   }

   .menu__and__links {
      width: 169px;
      height: 37px;
      margin-right: 32px;
   }

   
   .title__block__img {
      width: 386px;
      height: 368px;
    }

    .title__block__title {
      width: 311px;
      height: 92px;
      margin-top: 138px;
      margin-right: 39px;
      margin-bottom: 138px;
   } 

   .tb_title {
      width: 283px;
      height: 78px;
   }

   .tb__up__text {
      font-size: 44px;
      line-height: 53px;
   }

   .tb__down__text {
      font-size: 24px;
      line-height: 29px;
   }

   .up__grid__block {
      width: 736px;
      height: 303px;
      margin-bottom: 110px;
      grid-template-columns: 233px 233px 233px;
      grid-template-rows: 167px 116px;
   }
   
   .up__img {
      width: 233px;
      height: 167px;
   }

   .up__img__block {
      width: 233px;
      height: 167px;
   }

   .first__img__block__text {
      margin: 59px 39px;
   }

   .second__img__block__text {
      margin: 57px 61px;
   }

   .third__img__block__text {
      margin: 58px 59px;
   }

   .down__img {
      height: 116px;
      width: 735px;
   }

   .down__img__block {
      height: 116px;
      width: 735px;
      margin-top: 20px;
   }

   .fourth__img__block__text {
      margin: 33px 287px;
   }

   .db__text {
   margin-top: 4px;
   margin-bottom: 73px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #9F9F9F;
   }

   .content__block__grid {
   display: grid;
   grid-template-columns: 360px 360px ;
   grid-template-rows: 581px 581px 581px;
   gap: 16px;
   justify-content: center;
   }

   .content__block {
   height: 581px;
   }

   .tp__text {
      margin-top: 13px;
      margin-bottom: 18px;
   }

   .db__button {
      display: block;
      width: 212px;
      margin-top: 32px;
      margin-bottom: 48px;
   }
 
}

@media (max-width: 767px) and (min-width: 320px) {
   .center {
      width: 375px;
      margin: 0 auto;
  }

   .header {
      height: 74px;
  }
   
   .logo__and__search {
      margin-left: 16px;
      margin-right: 200px;
   }

   .logo {
      margin-right: 41px;
   }

   .hamburger {
      height: 23px;
      width: 32px;
   }

   .user {
      height: 0px;
      width: 0px;
   }

   .basket {
      height: 0px;
      width: 0px;
   }

   .basket__img {
      height: 0px;
      width: 0px;  
   }

   .bsc {
      height: 0;
      width: 0;
   }

   .usr {
      height: 0;
      width: 0;
   }

   .counter {  
      width: 0px;
      height: 0px;
      margin-left: 0px;
      margin-bottom: 0px;
      border-radius: 0px;
    }

    .counter__text {
      width: 0px;
      height: 0px;
      font-size: 0px;
      line-height: 0px; 
    }

   .title__block__img {
      width: 0;
      height: 0;
    }

   .title__block__title {
      width: 263px;
      height: 66px;
      margin-top: 148px;
      margin-right: 56px;
      margin-bottom: 149px;
      gap: 0px;
   }

   .tb__rectangle {
      height: 61px;
   }

   .tb_title {
      width: 236px;
      height: 66px;
   }

   .tb__up__text {
      font-size: 38px;
      line-height: 46px;
   }

   .tb__down__text {
      font-size: 20px;
      line-height: 24px;
      margin-right: 4px;
   }

   .up__grid__block {
      width: 343px;
      height: 951px;
      margin-top: 64px;
      margin-bottom: 64px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
   }

   .up__img {
      width: 343px;
      height: 248px;
   }

   .up__img__block {
      width: 343px;
      height: 248px;
      position: relative;
   }

   .first__img__block__text {
      margin: 98px 94px;
   }

   .second__img__block__text {
      width: 199px;
      height: 71px;
      margin-top: 102px;
      margin-left: 73px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
   }

   .third__img__block__text {
      width: 163px;
      height: 71px;
      margin-top: 105px;
      margin-left: 90px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
   }

   .down__img__block {
      height: 111px;
      width: 343px;
      background-image: url(img/fourth__img__mobile.svg);
   }

   .down__img {
      height: 0px;
      width: 0px;
   }

   .fourth__img__block__text {
      position: absolute;
      width: 160px;
      height: 50px;
      margin: 30px 92px;
   }

   .db__subtitle {
      width: 184px;
   }

   .db__text {
      margin-top: 3px;
      margin-bottom: 65px;
   }

   .content__block__grid {
      display: grid;
      grid-template-columns: 359px;
      grid-template-rows: 580px 580px 580px 580px 580px 580px;
      gap: 16px;
   }

   .content__block {
      width: 359px;
      height: 580px;
   }

   .cb__image {
      width: 359px;
      height: 419px;
   }

   .tp__text {
      margin-top: 13px;
      margin-bottom: 18px;
   }

   .db__button {
      display: block;
      width: 212px;
      margin-top: 41px;
      margin-bottom: 85px;
   }

}